# editor defaults
.sublime/*
.vs/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

#dependencies
/node_modules
/server/vendor

# compiled output
/client/dist
/client/tmp
/client/out-tsc
/client/bazel-out

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# server variables
server/var/cache/*
server/var/logs/*
!server/var/cache/.gitignore
!server/var/logs/.gitignore

# lock files
composer.lock
package.lock
yarn.lock

# misc
.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# system files
.DS_Store
Thumbs.db
