.sublime/*
.phalcon/*
.vs/*

public/themes/pluto/vendors/js/*
public/themes/pluto/vendors/css/*
public/themes/pluto/vendors/fonts/*

node_modules/*
pulsar/cache/*

tslint.json

app/installer/languages/*
app/admin/languages/*

public/themes/pluto/js/app.static.js
public/themes/pluto/js/app.static.js.map

package-lock.json
pulsar/config/config.json
