.sublime/*
.phalcon/*
.vs/*

public/themes/pluto/vendors/js/*
public/themes/pluto/vendors/css/*
public/themes/pluto/vendors/fonts/*

node_modules/*
pulsar/cache/*

tslint.json

app/installer/languages/*
app/admin/languages/*

public/themes/pluto/js/static.js
public/themes/pluto/js/static.js.map

package-lock.json
pulsar/config/config.json

.hidden/*

old/*
slim-skeleton/*
server/vendor/*
server/cache/*
server/logs/*
!server/cache/.gitignore
!server/logs/.gitignore

composer.lock
package.lock
yarn.lock
