<header id="header" class="w100p items-horizontal">
  <prn-logo size="48" color1="#EEE" color2="#c91111"></prn-logo>

  <div class="items-vertical items-center">
    <h1>Pulsar</h1>
    <h2>Panel Administracyjny</h2>
  </div>

  <div id="navigation" class="items-vertical items-bottom">
    <i id="version-info">pr-{{version}}{{production ? '' : '-uv'}} ({{codename}})</i>
    <aside class="items-horizontal">
      <a class="fa fa-user"></a>
      <a class="fa fa-wpforms"></a>
      <a class="fa fa-sign-out"></a>
    </aside>

    <prc-menu></prc-menu>
  </div>
</header>

<div id="main" class="items-horizontal fill-free">

  <!-- list of pages -->
  <prc-pages></prc-pages>

  <main class="w100p items-vertical fill-free">
    <prc-breadcrumbs></prc-breadcrumbs>
    <router-outlet></router-outlet>
  </main>

  <!-- sidebar is not always visible -->
  <prc-sidebar *ngIf="hasSidebar"></prc-sidebar>
</div>
